[build]
commands = [
  "mkdir -p storage/framework/{cache,views,sessions}",
  "mkdir -p bootstrap/cache",
  "chmod -R 775 storage bootstrap/cache",
  "composer install --ignore-platform-reqs --optimize-autoloader",
  "npm install",
  "npm run build",
]


[deploy]
startCommand = "./start.sh"
